body{
    margin: 0 auto;
    font-size: 32px;
}
.header{
    height: 200px;
    background-color: aqua;
}
.sur{
    height: 200px;
    background-color: blue;
}
.age{
    height: 200px;
    background-color: blueviolet;
}
.foot{
    height: 200px;
    background-color: brown;
}